# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/

# Excel and GD files
*.xls
*.gsheet
*.gslides

# Misc files
*.iml
*.log


# Image files
*.png
*.jpg
*.HEIC


